
body
{
    background-image: linear-gradient(
  70deg,
  hsl(55deg 95% 61%) 0%,
  hsl(52deg 97% 60%) 8%,
  hsl(49deg 98% 59%) 16%,
  hsl(46deg 99% 58%) 24%,
  hsl(44deg 100% 57%) 33%,
  hsl(42deg 100% 56%) 42%,
  hsl(39deg 100% 55%) 51%,
  hsl(37deg 100% 55%) 61%,
  hsl(34deg 99% 55%) 71%,
  hsl(32deg 98% 55%) 81%,
  hsl(29deg 97% 55%) 91%,
  hsl(26deg 95% 55%) 100%
);
    background-position: center;
    background-attachment: fixed;
}


html
{
    font-size: 55%;
}

.navbar-nav
{
    margin-left: 50%;
}

.navbar-nav li
{
    margin-left: 40px;
}

.navbar-nav li a
{
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
    background-image: linear-gradient(
  340deg,
  hsl(26deg 97% 59%) 0%,
  hsl(29deg 98% 59%) 8%,
  hsl(32deg 99% 59%) 16%,
  hsl(34deg 99% 59%) 24%,
  hsl(37deg 100% 59%) 33%,
  hsl(40deg 100% 58%) 42%,
  hsl(42deg 100% 57%) 51%,
  hsl(45deg 100% 57%) 61%,
  hsl(48deg 100% 56%) 71%,
  hsl(50deg 100% 55%) 81%,
  hsl(53deg 100% 54%) 91%,
  hsl(55deg 100% 51%) 100%
);
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 1px 1px 30px rgb(243, 67, 67) ;
} 


.navbar-brand
{
   font-weight: 600;
   font-size: 30px;
   transition: 2s;
}

.active1
{
    color: white !important;
    padding: 5px 6px;
    background-color: rgb(252, 126, 8);
}

.nav-link:hover
{
   color: white !important;
}

.nav-link
{
    color: black !important;
    transition: 0.2s;
}

.navbar-brand:hover
{
    transform: rotate(360deg);
}

.homeimg
{
    width: 100%;
}

.homeimg img
{
    width: 100%;
    height:100vh;
}

.card
{
    margin: 5px auto;
    background-color: rgb(240, 144, 18);
    border-radius: 10px;
    transition: 0.4s
}


.card:hover
{
    transform: scale(1.01);
}

.container
{
    margin-top: 160px;
}

.container h1
{
    font-size:6rem;
    padding-bottom:80px ;
    color: white;
}

.card-img-top
{
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
}

.card-title
{
    color: white;
    font-size: 2.4rem;
    text-align: center;
}

.card-text
{
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}

.btn
{
    padding: 5px 10px 5px 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.flex
{
    display:flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    
}

.flex img
{
    padding: 30px 30px ;
}

.flex div img
{
    width: 140rem;
}

.flex div h1
{
    font-size: 6rem;
    color: white;
    line-height: 90px;
}

.flex div p
{
   font-size: 2.4rem;
   font-weight: 600;
   color:white;
  
}

.flex div
{
    padding: 25px;
}

@media only screen and (max-width:1366px)
{
    .navbar-nav 
    {
       margin-left: 40%; 
    padding-left: 40px;  
    }
}


@media only screen and (max-width:1232px)

{


    .navbar-nav 
    {
       margin-left: 20%; 
    padding-left: 30px;  
    }


    
}



@media only screen and (max-width:932px)
{

    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.55);

    }


    .active1
    {
        background-color: transparent;
    }

    .navbar-nav
    {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;

    }



}