
body
{
    background-color: #22A699;
    background-position: center;
    background-attachment: fixed;
}


html
{
    font-size: 55%;
}

.navbar-nav
{
    margin-left: 50%;
}

.navbar-nav li
{
    margin-left: 40px;
}

.navbar-nav li a
{
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
    background-color: #F2BE22 !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 1px 1px 30px rgb(243, 67, 67) ;
} 


.navbar-brand
{
   font-weight: 600;
   font-size: 30px;
   transition: 2s;
}

.active1
{
    color: white !important;
    padding: 5px 6px;
    background-color: rgb(243, 67, 67);
}

.nav-link:hover
{
   color: white !important;
}

.nav-link
{
    color: black !important;
    transition: 0.2s;
}



header
{
    width: 100%;
    height: 800px;
    background-color: #F29727 !important;
    position: relative;

}

header img
{
    float: right;
    margin: 40px 120px;
}


.main
{
    padding: 250px 90px;
    position: absolute;
    top: 0px;
    background-color: rgb(243, 67, 67) !important;
    width: 55%;
    height: 800px;
    position: absolute;
}

.head
{
    font-size: 6.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.para
{
    font-size: 2.4rem;
    margin-top: 20px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.btn1
{
    border: none;
    border-radius: 5px;
    background-color: #F2BE22  !important;
    width: 180px;
    height: 40px;
    font-size:2rem ;
    margin-top: 30px;
    color: black;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.6s;
    text-decoration: none;

}

.btn1:hover
{
    background-color: white !important;
    color: black !important;
    box-shadow: 1px 1px 20px rgb(117, 116, 116);
}

.carousel-inner
{

    padding-top: 50px;
    padding-left: 30px;
}

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flex1
{
    width: 50%;
    height: 50%;
    padding: 20px;
}

.flex2
{
    width: 50%;
    height: 50%;
    padding: 20px;
}

.card
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    float: left;
    margin-left:10%;
    background-color:rgb(27, 26, 26);
    border-radius: 10px;
    margin-top: 50px;
    border: none;
    padding: 0px 0px 15px 0px;
    transition: 0.5s;
}

.card:hover
{
    transform: scale(1.03);
}

.card-img-top
{
    width: 320px;
    border-radius: 5px 5px 0px 0px;
}

.card-title
{
    font-size: 2.2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-text
{
    font-size: 1.6rem;
    color: white;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn
{
    background-color:#22A699;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 5px;
}

.product
{
    height: 1800px;
    width: 100%;
    background-color:#F29727 !important ;
    padding: 100px 0px 40px 0px;
}


.row
{
   background-color: #F2BE22;
   padding: 40px;
}

.form-control
{
    font-size: 2rem;
    margin: 15px;
    width: 90%;
    border: 3px solid #F29727 ;
    border-radius: 5px;
}



textarea
{
    height: 150px;
}

.navbar-brand:hover
{
    transform: rotate(360deg);
}


